@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.MainContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  border: 1px solidblack;
  background-color: #f6f6f6;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.BalanceContainer {
  width: 100%;
}

.BC-Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.BC-Top p {
  font-size: 1.8rem;
  font-weight: 700;
}

.BC-Bottom {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 1rem;
}

#income {
  color: #00be6b;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3rem;
}

#expense {
  color: #e51038;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3rem;
}

.BCB-Left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.BCB-Right {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

hr {
  border-right: 1px solid #f0f0f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.HistoryContainer {
  width: 100%;
}

.HistoryContainer h3 {
  padding: 1rem;
  border-bottom: 2px solid #cfcfcf;
  margin-bottom: 1rem;
}

.historyContainer {
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 2px;
}

.HistoryContainer {
  width: 100%;
  max-height: 18rem;
  overflow-y: auto;
}

.hC1 {
  border-right: 6px solid #00be6b;
}

.hC2 {
  border-right: 6px solid #a1342b;
}

.transactionInputs {
  width: 100%;
}

.transactionInputs label {
  width: 100%;
  margin-top: 1rem;
}

.transactionInputs p {
  width: 100%;

}

.transactionInputs input {
  padding: 0.7rem 1rem;
  width: 93%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.TransactionContainer {
  width: 100%;
}

.TransactionContainer h3 {
  border-bottom: 2px solid #cfcfcf;
  padding: 1rem;
  margin-bottom: 1rem;
}

#addTransactionbtn {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #3a7ae7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

#addTransactionbtn:hover {
  background-color: #3160b0;
  cursor: pointer;
}
